extends layout

block content
    h1=title

    form(method='POST' action='/session')
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', name='username' required='true')
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password' required='true')
        div.form-group
            label(for='remember') Remember me:
            input#remember.form-control(type='checkbox' name='remember')
        button.btn.btn-primary(type='submit') Login
    if errors
        ul
            for error in errors
                li!= error.msg
