body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
          "header"
          "nav"
          "content";
}