extends layout

block content
    div(class='container')
        include mobile-menu-container-green
        include header
        div(class='header-backdrop')
        div(class='page-title green-gradient-background')
            h1 Contact Us
        div(class='page-block')
            h2 Report an Issue
            p If you've noticed an issue while using Slothbucket, please report it as an issue on
                a(href='https://github.com/radiantdinosaurs/slothbucket')  Github
                | .