doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/')
            button Home
        if currentUser
            a(href='/logout')
                button Logout
        if !currentUser
            a(href='/login')
                button Login
            a(href='/register')
                button Register
        block content
