extends layout

block content
    div(class='container')
        include mobile-menu-container-green
        include header
        div(class='header-backdrop')
        div(class='page-title green-gradient-background')
        div(class='login-block')
            div(class="form-container")
                h1='Log In'
                form(method='POST' action='/login')
                    input.form-input(type='text', placeholder="username", name='username' required='true')
                    input.form-input(type='password', placeholder="password" name='password' required='true')
                    button(class='submit-button' type='submit') Log In
                    if errors
                        ul
                            for error in errors
                                li!= error.msg
