extends layout

block content
    h1=title

    form(method='POST' action='/register')
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='username' name='username' required='true' value=(undefined===user ? '' : user.username))
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email' required='true' value=(undefined===user ? '' : user.email))
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password' required='true')
        div.form-group
            label(for='passwordConfirmation') Confirm Password:
            input#passwordConfirmation.form-control(type='password' name='passwordConfirmation' required='true')
            p Password must be at least 10 characters long, with at least one uppercase letter, one lowercase letter, and one number
        button.btn.btn-primary(type='submit') Sign up
    if errors
        ul
            for error in errors
                li!= error.msg
